@model IEnumerable<PetShopJS.Models.Parcela>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Juros)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juros)
            </td>
            <td>
                <a href="#" class="btn btn-primary modal-link" title="Editar" data-action="Edit" data-parameter="@item.Id"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="#" class="btn btn-success modal-link" title="Detalhes" data-action="Details" data-parameter="@item.Id"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <a href="#" class="btn btn-danger modal-link" title="Deletar" data-action="Delete" data-parameter="@item.Id"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
            </td>
        </tr>
    }

</table>

