@model PetShopJS.Models.Parcela

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Parcela</h4>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Juros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juros)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new {id = "crudForm"})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" value="Delete" class="btn btn-default"/>
        </div>
    }
</div>
@Html.Partial("_ModalPartial")