@model PetShopJS.Models.Compra_Produto_Empresa

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Compra - Produto - Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compra.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compra.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto_Empresa.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_Empresa.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
