@model PetShopJS.Models.Compra_Produto_Empresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Compra_Produto_Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compra.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compra.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto_Empresa.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_Empresa.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
