@model PetShopJS.Models.Compra_Produto_Empresa

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Compra - Produto - Empresa</h4>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compra.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compra.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto_Empresa.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto_Empresa.Id)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new {id = Model.Id})" class="btn btn-primary modal-link" title="Editar">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    @Html.ActionLink("Voltar à Lista", "Index")
</p>