@model PetShopJS.Models.Compra

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Compra</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forma_Pagamento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forma_Pagamento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcela.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcela.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
