@model PetShopJS.Models.Compra

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Compra</h4>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forma_Pagamento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forma_Pagamento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcela.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcela.Id)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new {id = Model.Id})" class="btn btn-primary modal-link" title="Editar">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    @Html.ActionLink("Voltar à Lista", "Index")
</p>