@model PetShopJS.Models.Pais

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pais</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abreviacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abreviacao)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id=Model.Id })" class="btn btn-primary modal-link" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
