@model IEnumerable<PetShopJS.Models.Bairro>

@{
    ViewBag.Title = "Bairros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bairros</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info modal-link" title="Criar"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade.Nome)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-primary modal-link" title="Editar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a href="@Url.Action("Details", new { id=item.Id })" class="btn btn-success modal-link" title="Detalhes"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
            <a href="@Url.Action("Delete", new { id=item.Id })" class="btn btn-danger modal-link" title="Deletar"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
        </td>
    </tr>
}

</table>
