@model PetShopJS.Models.Endereco

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Endereço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Endereco1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
