@model IEnumerable<PetShopJS.Models.Endereco>

@{
    ViewBag.Title = "Endereços";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Endereços</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-info modal-link" title="Criar"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Endereco1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro.Nome)
        </td>
        <td>
            <a href="#" class="btn btn-primary modal-link" title="Editar" data-action="Edit" data-parameter="@item.Id"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-success modal-link" title="Detalhes" data-action="Details" data-parameter="@item.Id"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
            <a href="#" class="btn btn-danger modal-link" title="Deletar" data-action="Delete" data-parameter="@item.Id"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
        </td>
    </tr>
}

</table>
